
on:
  push:
    branches:
    - main
    - release/*
jobs:
  build_generator_job:
    name: build_generator_job
    runs-on: ubuntu-latest
    container: caracal97/env_build
    steps:
      - name: run
        run: g++ -o tweet-generator -O3 -Wall -std=c++17 `pkg-config --libs --cflags gaml cppkafka` -lpthread ~/Generator/tweet-generator.cpp -lcppkafka -lrdkafka
  
      - name: Upload generator
        uses: actions/upload-artifact@v2
        with:
          name: generator
          path: Generator/tweet-generator
